<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layouts/admin :: main-fragment (~{::title} ,~{::head}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sản phẩm</title>
    <style>
        .ip-limit select {
            width: 53px;
            margin: 9px 0;
        }

        .ip-limit p {
            height: 30px;
            margin: 9px 0;
            padding: 5px;
        }

        .ip-limit {
            display: flex;
        }

        .ip-search button {
            width: 125px;
        }

        .ip-search input {
            margin: 8px;
        }

        .ip-search {
            display: flex;
        }
    </style>
</head>
<body>
<div class="breadcrumbs" id="breadcrumbs">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/admin/home-page}">
                    <i class="fa fa-home"></i>
                    Admin page
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Danh sách sản phẩm</li>
        </ol>
    </nav>
</div>
<div class="row">
    <a th:href="@{/admin/product/edit}" class="btn btn-outline-amber">Thêm mới sản phẩm</a>
</div>
<div class="alert alert-block alert-success" th:if="${param.insert_success}">
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
    </button>
    Thêm sản phẩm thành công!
</div>
<div class="alert alert-block alert-danger" th:if="${param.delete_error}">
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
    </button>
    Xóa sản phẩm thất bại!
</div>
<div class="alert alert-block alert-success" th:if="${param.delete_success}">
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
    </button>
    Xóa sản phẩm thành công!
</div>
<form th:action="@{/admin/product/list}" method="get" id="formUrl">
    <div id="dtBasicExample_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="ip-limit col-md-6">
                <p>Hiển thị</p>
                <select th:field="${common.limit}"
                        class="custom-select custom-select-sm form-control form-control-sm" id="select-show">
                    <option th:each="i : ${#numbers.sequence(1,100,1)}" th:value="${i}" th:text="${i}"></option>
                </select>
                <p>sản phẩm</p>
            </div>
            <div class="ip-search col-md-6">
                <input type="search" class="form-control form-control-sm" placeholder="Tìm kiếm"
                       aria-controls="dtBasicExample" th:value="${common.search}" name="search">
                <button class="btn btn-primary btn-sm">Tìm kiếm</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>
                        <th class="th-sm table-sort" sortBy="id">ID</th>
                        <th class="th-sm table-sort" sortBy="productCode">Product Code</th>
                        <th class="th-sm table-sort" sortBy="productName">Product Name</th>
                        <th class="th-sm table-sort" sortBy="createdDate">Created Date</th>
                        <th class="th-sm table-sort" sortBy="createdBy">Created By</th>
                        <th class="th-sm table-sort" sortBy="modifiedDate">Modified Date</th>
                        <th class="th-sm table-sort" sortBy="modifiedBy">Modified By</th>
                        <th class="th-sm table-sort" sortBy="price">Price</th>
                        <th class="th-sm table-sort" sortBy="sale">Sale</th>
                        <th class="th-sm table-sort" sortBy="store">Store</th>
                        <th class="th-sm table-sort" sortBy="status">Status</th>
                        <th class="th-sm">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="product: ${productList}">
                        <tr>
                            <td th:text="${product.id}"></td>
                            <td th:text="${product.productCode}"></td>
                            <td th:text="${product.productName}"></td>
                            <td th:text="${product.createdBy}"></td>
                            <td th:text="${product.createdDate}"></td>
                            <td th:text="${product.modifiedBy}"></td>
                            <td th:text="${product.modifiedDate}"></td>
                            <td th:text="${product.price}"></td>
                            <td th:text="${product.sale}"></td>
                            <td th:text="${product.store}"></td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" th:id="${'ip-status-' + product.id}" th:onclick="updateStatus([[${product.id}]])"
                                           onclick="" th:if="${product.status == 1}" checked>
                                    <input class="form-check-input" type="checkbox" th:id="${'ip-status-' + product.id}" th:onclick="updateStatus([[${product.id}]])"
                                           th:if="${product.status == 0}">
                                    <label class="form-check-label" th:for="${'ip-status-' + product.id}"></label>
                                </div>
                            </td>
                            <td>
                                <a th:href="@{/admin/product/edit(id=${product.id})}"
                                   class="btn btn-sm btn-primary btn-update">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a class="btn btn-sm btn-warning" th:onclick="warningBeforeDelete([[${product.id}]])">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="th-sm">ID</th>
                        <th class="th-sm">Product Code</th>
                        <th class="th-sm">Product Name</th>
                        <th class="th-sm">Created Date</th>
                        <th class="th-sm">Created By</th>
                        <th class="th-sm">Modified Date</th>
                        <th class="th-sm">Modified By</th>
                        <th class="th-sm">Price</th>
                        <th class="th-sm">Sale</th>
                        <th class="th-sm">Store</th>
                        <th class="th-sm">Status</th>
                        <th class="th-sm">Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite"><p
                        th:text="${'Total : ' + common.totalItems}"></p>
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="dtBasicExample_paginate">
                    <ul id="pagination" class="pagination-sm"></ul>
                    <input type="hidden" th:value="${common.page}" name="page" id="page">
                </div>
            </div>
        </div>
    </div>
</form>
<input type="hidden" id="sortDirec" th:field="${common.sortDesc}">
<script th:inline="javascript">
    /*<![CDATA[*/
    var totalPages = /*[[${common.totalPage}]]*/ null;
    var starPage = /*[[${common.page}]]*/ null;
    /*]]>*/
    var visiblePages = 5
    $(document).ready(function () {

    });
    $('#formUrl select').change(function () {
        $('#formUrl').submit();
    })
    $('.table-sort').click(function () {
        var sortBy = $(this).attr("sortBy");
        var sortDirec = $('#sortDirec').val();
        sortDirec = sortDirec == 1 ? 0 : 1;
        $('<input>').attr({
            type: 'hidden',
            value: sortBy,
            name: 'sortBy'
        }).appendTo('#formUrl');
        $('<input>').attr({
            type: 'hidden',
            value: sortDirec,
            name: 'sortDesc'
        }).appendTo('#formUrl');
        $('#formUrl').submit();
    });


    $('#select-show').change(function () {
        $('#formUrl').submit();
    })
    $(function () {
        var obj = $('#pagination').twbsPagination({
            totalPages: totalPages,
            startPage: starPage,
            visiblePages: visiblePages,
            onPageClick: function (event, page) {
                if (page != starPage) {
                    $("#page").val(page);
                    $("#formUrl").submit();
                }
            }
        });
    });

    function warningBeforeDelete(x) {
        if (x != null) {
            showAlertBeforeDelete(function () {
                deleteProduct(x)
            });
        }
    }

    function deleteProduct(id) {
        $.ajax({
            url: "/admin/product",
            type: 'DELETE',
            data: JSON.stringify(id),
            contentType: 'application/json',
            success: function (re) {
                window.location.href = re;
            },
            error: function (re) {
                window.location.href = re;
            }
        });
    }

    function updateStatus(id) {
        var checkStatus = document.getElementById("ip-status-" + id);
        var status = 0;
        if (checkStatus.checked) {
            status = 1;
        }
        var data = {id: id, status: status};
        $.ajax({
            url: "/admin/product/status",
            type: 'PUT',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (re) {
            },
            error: function (re) {

            }
        });
    }
</script>
</body>
</html>